services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
    container_name: kantina-api
    ports:
      - '3000:8080'
    env_file:
      - .env.docker.local
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/kantina
      NODE_ENV: development
      DEBUG: 'prisma:*'
      LOG_LEVEL: debug
    depends_on:
      db:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully
      seed:
        condition: service_completed_successfully
    profiles: ['local-db']

  db:
    image: postgres:16
    container_name: kantina-pg
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: kantina
      POSTGRES_USER: postgres
    ports:
      - '15432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
      # - ./docker/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -d kantina']
      interval: 2s
      timeout: 3s
      retries: 30
      start_period: 20s
    profiles: ['local-db']

  migrator:
    build:
      context: .
      dockerfile: Dockerfile
      target: migrate
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/kantina
    depends_on:
      db:
        condition: service_healthy
    profiles: ['local-db']

  seed:
    build:
      context: .
      dockerfile: Dockerfile
      target: migrate
    env_file:
      - .env.docker.local
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/kantina
      SEED_MODE: DEMO
      NODE_ENV: development
    depends_on:
      db:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully
    command: ['pnpm', 'db:seed:demo']
    profiles: ['local-db']

volumes:
  pgdata:
