services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
    container_name: kantina-api
    ports:
      - '3000:8080'
    env_file:
      - .env.docker.local
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/kantina
      NODE_ENV: development
      DEBUG: 'prisma:*'
      LOG_LEVEL: debug
    depends_on:
      db:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully
      seed:
        condition: service_completed_successfully
    profiles: ['local-db']

  db:
    image: postgres:16
    container_name: kantina-pg
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: kantina
      POSTGRES_USER: postgres
    ports:
      - '15432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
      # - ./docker/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -d kantina']
      interval: 2s
      timeout: 3s
      retries: 30
      start_period: 20s
    profiles: ['local-db']

  migrator:
    build:
      context: .
      dockerfile: Dockerfile
      target: migrate
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/kantina
    depends_on:
      db:
        condition: service_healthy
    profiles: ['local-db']

  seed:
    image: postgres:16
    environment:
      PGPASSWORD: postgres
    depends_on:
      db:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully
    command:
      - sh
      - -lc
      - |
        psql -h db -U postgres -d kantina -v ON_ERROR_STOP=1 \
          -c "INSERT INTO \"Tenant\" (\"id\",\"name\") VALUES ('default','default') ON CONFLICT (\"id\") DO NOTHING;"
    profiles: ['local-db']

volumes:
  pgdata:
